[phases.setup]
aptPkgs = ["postgresql-client", "libpq-dev", "gcc", "python3-dev"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
